.venv/
.vscode/

bin/*
!bin/.gitkeep

build/*
!build/.gitkeep

lib/*
!lib/.gitkeep

python/__pycache__/*
python/mandelbrot/__pycache__/*

results/figures/*
!results/figures/.gitkeep
results/grids/*
!results/grids/.gitkeep


src/debug
src/*.txt
src/*.c.swp